name: build frontend
on:
  workflow_dispatch:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install dependencies
        run:  npm install --ignore-scripts --force
        
      - name: Run Build
        run: NODE_OPTIONS="--max-old-space-size=3072" npm run build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }} Build
          run: |
            tree
          path: |
            dist/*
          include-hidden-files: true
